<% layout('layouts/boilerplate')%>
 
<h1>Home</h1>



<p><%= content %></p>

<% for(let post of postsar){ %>
    <% var l= "/posts/"+post.title; %>
    <h1><%= post.title %></h1>
    <span class="readmore"><p class="truncated"><%= post.description%> ... </p><a class="read" href="/posts/<%= post._id %>" >Read more</a></span>
    
<% }; %>


<!-- <h2 class="h2todo">
    <a class="a2-todo" href="/todo">YOUR TO-DO LIST</a>
    <br>
    <a class="a2-todo" href="https://glacial-tor-74309.herokuapp.com/">GAMEZONE</a>
</h2> -->

