<% layout('layouts/boilerplate')%>


<div class = "body-todo">

<div id="container-todo">
	<h1 class="h1-todo"><%= today %> <i class="fa fa-plus"></i></h1>
	<form action="/todo" method="POST" id="form-todo"><input class="input-todo" type="text" name="todo" placeholder="Add New Todo"></form>

	<ul class="ul-todo">
		<% for(let todo of todos){ %>
			<li class="li-todo"><span class="span-todo"><a class="a-todo-id" data-method="DELETE" href = "/todo/<%= todo._id %>"><i class="fa fa-trash"></i></a></span><%= todo.todo %></li>
		<% }; %>
	</ul>
</div>

